
<!doctype html>
<html lang="pt-br">
  <head>
  <% include partials/head %>
  </head>

  <body>
	<% include partials/menu %>
	<!-- Begin page content -->
    <main role="main" class="container">
    <div class="container mt-5 mb-5">
	<div class="row mb-3">
		<div class="col-md-3">
			
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
	            <div class="card-body d-flex flex-column align-items-start">
					<%if (account[0].photo) { %>
					<img src="img/<%=account[0].photo%>" class="rounded-circle img-thumbnail">					
					<%} else { %>
					<img src="img/null.svg" class="rounded-circle img-thumbnail">
					<%} %>	            	
					<strong class="d-inline-block mb-2 text-primary"><%=account[0].fullname%></strong>
					<h3 class="mb-0">
						<a class="text-dark" href="#"><%=account[0].profile%></a>
					</h3>
					<%if (account[0].idade) { %>
					<div class="mb-1 text-muted"><%=account[0].idade%> anos</div>
					<%} %>
					<p class="card-text mb-auto"><%=account[0].description%></p>
					<a href="/profile">Editar</a>
	            </div>	                           
          	</div>
			
		</div>
		<div class="col-md-6">
      <!--- \\\\\\\Post-->
      <div class="card gedf-card">
        <form action="post" method="POST" class="form-post" enctype="multipart/form-data">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Escreva sua receita</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Imagens</a>
              </li>
            </ul>
        </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <div class="form-group">
                  <input type="text" name="title" placeholder="Título da receita" required=""/>
                </div>
                <div class="form-group">
                  <input name="message" type="hidden"/>
                  <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                </div>
              </div>
              <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="customFile" multiple/>
                    <label class="custom-file-label" for="customFile">Upload da imagem</label>
                  </div>
                </div>
                <div class="py-4"></div>
              </div>
            </div>
            <div class="btn-toolbar justify-content-between">
              <div class="btn-group">
                <button type="submit" class="btn btn-primary">Publicar</button>
                <a class="btn btn-primary" id="btnNext">Next</a>
                <a class="btn btn-primary" id="btnPrevious">Previous</a>
              </div>
              <div class="btn-group">
                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-globe"></i>
                </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Público</a>
                <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Amigos</a>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Eu</a>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <!-- Post /////-->
			<br>
			<h4>Feed</h4>
			<ul class="timeline">
				<% for(var i = 0; i < feed.length; i++){ %>
				<li>
					<a href="/profile/<%= feed[i].id_account %>"><%= feed[i].fullname %></a>
					<a href="#" class="float-right"><%= feed[i].date_post %></a>
					<div class="card sticky-top" style="margin:0; border: none !important;">
                        <%- feed[i].post %>
						<%if (feed[i].photo) { %>
						<img src="img/<%=feed[i].photo%>" class="img-thumbnail">
						<%}%>
					</div>
				</li>
				<% } %>				
			</ul>
		</div>
		<div class="col-md-3">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
	      <div class="card-body d-flex flex-column align-items-start">
		      <strong class="d-inline-block mb-2 text-primary">Prato do dia</strong>
		      <h3 class="mb-0">
		        <a class="text-dark" href="#">Érick Jacquin</a>
		      </h3>
		      <div class="mb-1 text-muted">TARTAR DE SALMÃO</div>
		      <p class="card-text mb-auto">Com manga, ervas frescas e limão siciliano</p>
		      <a href="#">Continue lendo</a>
	      </div>            
      </div>
		</div>
	</div>
	</div>         
</main>

    <footer class="footer">
      <div class="container">
        <!-- FOOTER -->
      </div>
    </footer>
    <% include partials/footer %>
    <script>
      $('#btnNext').click(function(){
      $('#images-tab').trigger('click');
      });

      $('#btnPrevious').click(function(){
      $('#posts-tab').trigger('click');
      });

    </script>
  </body>
</html>
