
<!doctype html>
<html lang="pt-br">
  <head>
  <% include partials/head %>
  </head>

  <body>
	<% include partials/menu %>
	<!-- Begin page content -->
    <main role="main" class="container">
    <div class="container mt-5 mb-5">
	<div class="row mb-3">
		<div class="col-md-3">
			
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
	            <div class="card-body d-flex flex-column align-items-start">
					<%if (account[0].photo) { %>
					<img src="img/<%=account[0].photo%>" class="rounded-circle img-thumbnail">					
					<%} else { %>
					<img src="img/null.svg" class="rounded-circle img-thumbnail">
					<%} %>	            	
					<strong class="d-inline-block mb-2 text-primary"><%=account[0].fullname%></strong>
					<h3 class="mb-0">
						<a class="text-dark" href="#"><%=account[0].profile%></a>
					</h3>
					<%if (account[0].idade) { %>
					<div class="mb-1 text-muted"><%=account[0].idade%> anos</div>
					<%} %>
					<p class="card-text mb-auto"><%- account[0].description%></p>
					<a href="/profile">Editar</a>
	            </div>	                           
          	</div>
			
		</div>
		<div class="col-md-6">
      <!--- \\\\\\\Post-->      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form action="post" method="POST" class="form-post" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Escreva sua receita</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">              
                <div class="form-group">
                  <input type="text" class="form-control" name="title" placeholder="Título da receita" required=""/>
                </div>
                <div class="form-group">
                  <label for="message">Escreva a sua receita aqui e edite da forma que quiser !</label>
                  <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                </div>
				        <div class="form-row">
					        <div class="form-group input-group col-md-6">
					          <div class="input-group-prepend">
						        <span class="input-group-text"> <i class="fa fa-balance-scale"></i> </span>
					          </div>
					          <input class="form-control" type="number" id="portion" name="portion" placeholder="Porções"/>
					        </div>
					        <div class="form-group input-group col-md-6">
					          <div class="input-group-prepend">
						        <span class="input-group-text"> <i class="fa fa-clock-o"></i> </span>
					          </div>
					          <input class="form-control" type="number" id="preparation_time" name="preparation_time" placeholder="Tempo de preparo"/>
					          <div class="input-group-append">
						        <span class="input-group-text" id="basic-addon2">minutos</span>
					          </div>
					        </div>
				        </div>
                <div class="form-group">                  
                    <input type="file" name="file" class="file" accept="image/*" />
                      <div class="input-group my-3">
                        <input type="text" class="form-control" placeholder="Adicionar Imagem" id="file" disabled/>
                        <div class="input-group-append">
                          <button type="button" class="browse btn btn-primary">Procurar...</button>
                        </div>
                      </div>                    
                </div>
            <div class="ml-2 col-sm-6">
              <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail"/>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Publicar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card gedf-card">        
        <div class="card-header">
          <h5 class="card-title">Mostre suas receitas para o mundo</h5>          
        </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                  Escreva a sua receita
                </button>
              </div>              
            </div>            
        </div>        
      </div>
      <!-- Post /////-->
			<br>
			<h4>Feed</h4>
			<ul class="timeline">
				<% for(var i = 0; i < feed.length; i++){ %>
				<li>
          <div class="card">
            <%if (feed[i].photo) { %>
            <img class="card-img-top" src="img/<%=feed[i].photo%>">
            <%}%>
              <div class="card-body">
                <h5 class="card-title text-primary"><%= feed[i].title %></h5>
                <p class="card-text">
                  <%- feed[i].post %>
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">                  
                  <i class="fa fa-balance-scale">&nbsp;</i><%= feed[i].portion %>&nbsp;Porções
                  <p class="float-right"><i class="fa fa-clock-o"></i>&nbsp;<%= feed[i].preparation_time %>&nbsp;Minutos</p>
                </li>                
                <li class="list-group-item">
                  <a href="/profile/<%= feed[i].id_account %>"><%= feed[i].fullname %></a>
                  <a href="#" class="float-right"><%= feed[i].date_post %></a>
                </li>
              </ul>
              <div class="card-body">
                <form action="/recipe/<%= feed[i].id_publication %>">
                  <button class="btn-danger">
                    <i class="fa fa-heart"></i>
                  </button>
                </form>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
		</div>
		<div class="col-md-3">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
	      <div class="card-body d-flex flex-column align-items-start">
		      <strong class="d-inline-block mb-2 text-primary">Prato do dia</strong>
		      <h3 class="mb-0">
		        <a class="text-dark" href="/profile/<%= news[0].id_account %>">
              <%= news[0].fullname %>
            </a>
		      </h3>
		      <div class="mb-1 text-muted">
            <%= news[0].title %>
            </div>
		      <p class="card-text">
            <%- news[0].post %>
          </p>
		      <a href="#">Continue lendo</a>
	      </div>            
      </div>
		</div>
	</div>
	</div>         
</main>

    <footer class="footer">
      <div class="container">
        <!-- FOOTER -->
      </div>
    </footer>
    <% include partials/footer %>
  </body>
</html>
