<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<body>
<% include partials/menu %>
  <div class="card-columns" style="margin: 25px;padding: 50px;">
  <!-- -->
  <% for(var i = 0; i < feed.length; i++){ %>
  <div class="card bg-light mb-3">
	<%if (feed[i].photo) { %>
	<img class="card-img-top" src="img/<%=feed[i].photo%>" alt="Card image cap">
	<% } %>
	<div class="card-body">
	  <h5 class="card-title"><%= feed[i].title %></h5>
	  <p class="card-text"><%- feed[i].post %></p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">                  
			<i class="fa fa-balance-scale">&nbsp;</i><%= feed[i].portion %>&nbsp;Porções
			<p class="float-right"><i class="fa fa-clock-o"></i>&nbsp;<%= feed[i].preparation_time %>&nbsp;Minutos</p>
		</li>
	</ul>
  </div>
  <% } %>
  </div>
<footer class="footer">
      <div class="container">
        <!-- FOOTER -->
      </div>
    </footer>
    <% include partials/footer %>
  </body>
</html>
